p{
    color:rgb(154, 3, 224);
}
ul { 
    color: rgb(154, 3, 224);
}
body {
    background-color:rgba(237, 177, 245, 0.651) !important;
}
h1 { 
    color: grey !important;
}
h3 {
    color:rgb(78, 75, 75) !important;
}
h4 {
    color: rgb(78, 75, 75) !important;
}
h6 {
    color: rgb(78, 75, 75) !important;
}